.btn-outline-primary:hover, .btn-outline-primary:active {
  color: white;
}

@media (max-width: 360px) {
  .navbar-brand div {
    display: none;
  }
}
.navbar-brand {
  margin-right: 0 !important;
}

/* search-navbar */
.scrollmenu{
  overflow-x: auto;     
  width: 100%;
  white-space: nowrap;
}
.nav {
  flex-wrap: unset !important;
}


/* Profil */
.profile-img {
  position: absolute;
  top: -1.5rem;
  left: 0
}

.cover {
  position: relative;
  margin-top: 1.5rem;
  height: 100%;
  background-color: var(--bs-primary);

}
.cover-subtext {
  border-radius: 0rem 0rem 1.0625rem 1.0625rem;
}
.row {
  margin: 0;
}

/*Accordion coloring*/
.accordion-button:not(.collapsed) {
  background-color: var(--bs-primary);
  color: var(--bs-light);
}



